/* [project]/src/elements/buttonFollow/buttonFollow.module.css [app-client] (css) */
.buttonFollow-module__IvAIoW__button {
  background-color: var(--color-primary);
  color: #333;
  padding: 10px 30px;
  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.buttonFollow-module__IvAIoW__button:hover {
  background-color: #06d69eaf;
  color: #ccc;
}


/* [project]/src/app/(dynamic)/profile/profile.module.css [app-client] (css) */
.profile-module__mKwGka__container {
}

.profile-module__mKwGka__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.profile-module__mKwGka__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-module__mKwGka__info .profile-module__mKwGka__boxImage {
  width: 200px;
  aspect-ratio: 1;
  position: relative;
}

.profile-module__mKwGka__info .profile-module__mKwGka__image {
  border-radius: 30px;
}

.profile-module__mKwGka__info .profile-module__mKwGka__name {
}

.profile-module__mKwGka__info .profile-module__mKwGka__name h3 {
  font-weight: bold;
  font-size: 40px;
}

.profile-module__mKwGka__info .profile-module__mKwGka__name p {
  max-width: 300px;
  margin: 15px 0;
}

.profile-module__mKwGka__follow {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 50px;
  height: 160px;
}

.profile-module__mKwGka__followers {
  text-align: center;
}

.profile-module__mKwGka__following {
  text-align: center;
}


/* [project]/src/components/likeDislikeComment/likeDislikeComment.modules.css [app-client] (css) */
.reactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttons button {
  cursor: pointer;
}

.buttons button span {
  position: relative;
  top: -2px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* [project]/src/components/post/post.module.css [app-client] (css) */
.post-module__epbfUq__container {
  border: 2px solid #333;
  padding: 20px;
}

.post-module__epbfUq__container .post-module__epbfUq__post {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}

.post-module__epbfUq__header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.post-module__epbfUq__header .post-module__epbfUq__containerHeader {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__imageContainer {
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.post-module__epbfUq__header h2 {
  margin-left: 10px;
}

.post-module__epbfUq__imageContainer .post-module__epbfUq__image {
  object-fit: cover;
}

.post-module__epbfUq__content {
  margin: 15px 20px;
  line-height: 1.5em;
  font-size: 17px;
}

.post-module__epbfUq__imagePost {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__imagePost .post-module__epbfUq__image {
  object-fit: cover;
  border-radius: 7px;
  width: 95%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-module__epbfUq__reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.post-module__epbfUq__reaction .post-module__epbfUq__dislike {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__dislike svg {
  margin-top: 4px;
}

.post-module__epbfUq__reaction .post-module__epbfUq__comment {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__reaction .post-module__epbfUq__comment span {
  margin-bottom: 2px;
}


/*# sourceMappingURL=src_f2613fed._.css.map*/
