/* [project]/src/app/page.module.css [app-client] (css) */
.page-module___8aEwW__container {
  display: flex;
  gap: 50px;
}

.page-module___8aEwW__sidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-module___8aEwW__posts {
  flex: 8;
  display: flex;
  flex-direction: column;
}


/* [project]/src/components/likeDislikeComment/likeDislikeComment.modules.css [app-client] (css) */
.reactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttons button {
  cursor: pointer;
}

.buttons button span {
  position: relative;
  top: -2px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* [project]/src/components/likeDislike/LikeDislike.module.css [app-client] (css) */
.LikeDislike-module__nD08zG__reactionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.LikeDislike-module__nD08zG__like {
  display: flex;
  justify-content: start;
}

.LikeDislike-module__nD08zG__dislike {
  display: flex;
  justify-content: end;
}

.LikeDislike-module__nD08zG__button {
  background-color: #0000;
  border: none;
  cursor: pointer;
  position: relative;
}

.LikeDislike-module__nD08zG__button span {
  position: absolute;
  top: -2px;
}


/* [project]/src/components/post/post.module.css [app-client] (css) */
.post-module__epbfUq__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.post-module__epbfUq__header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.post-module__epbfUq__header .post-module__epbfUq__containerHeader {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__imageContainer {
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.post-module__epbfUq__header h2 {
  margin-left: 10px;
}

.post-module__epbfUq__imageContainer .post-module__epbfUq__image {
  object-fit: cover;
}

.post-module__epbfUq__content {
  margin: 15px 20px;
  line-height: 1.5em;
  font-size: 17px;
}

.post-module__epbfUq__imagePost {
  width: 95%;
  min-height: 300px;
  position: relative;
  margin-bottom: 20px;
}

.post-module__epbfUq__imagePost .post-module__epbfUq__image {
  object-fit: cover;
  border-radius: 7px;
}

.post-module__epbfUq__reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.post-module__epbfUq__reaction .post-module__epbfUq__dislike {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__dislike svg {
  margin-top: 4px;
}

.post-module__epbfUq__reaction .post-module__epbfUq__comment {
  display: flex;
  align-items: center;
}

.post-module__epbfUq__reaction .post-module__epbfUq__comment span {
  margin-bottom: 2px;
}


/* [project]/src/components/createPost/createPost.modules.css [app-client] (css) */
.postContainer {
  margin-bottom: 50px;
  border: 2px solid #222;
  padding: 20px;
  border-radius: 4px;
}

.identityProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.imageProfile {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.nameProfile {
  margin-left: 10px;
}

.nameProfile h3 {
  margin-bottom: 5px;
}

.friends {
  outline: none;
}

.title input {
  font-size: 17px;
  font-weight: 400px;
  border: none;
  outline: 0;
  border-bottom: 1px solid #222;
  padding: 10px;
  background-color: #333;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 90%;
  margin-left: 5%;
}

.uploadImage {
  margin: 15px 5%;
}

.uploadImage input {
}

.submit {
  background-color: #0000;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 15px 50px;
  margin-left: 5%;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.submit:hover {
  background-color: #333;
  color: #f1f1f1;
}


/* [project]/src/components/contacts/contacts.module.css [app-client] (css) */
.contacts-module__YERPYW__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contacts-module__YERPYW__imgProfile {
}

.contacts-module__YERPYW__imgProfile .contacts-module__YERPYW__image {
}

.contacts-module__YERPYW__name {
}


/*# sourceMappingURL=src_cc978e3d._.css.map*/
